body{
    background-color: rgb(6, 32, 58);
}
/* table{
    background-color: white;
    text-align: center;
} */

.topheader {
    /* add a large top header with the title */
    overflow: hidden;
    font-size: large;
    color: white;
    text-align: center;
}



table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    background-color: white;
  }
  
  th, td {
    width: 10%; /* Set a fixed percentage for the cell width */
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Ellipsis to hide or truncate text */
    border: 1px solid #ddd; /* Optional: Add borders to cells */
    color:transparent;
  }