body{
    background-color: rgb(255, 255, 255);
    margin:0;
    padding: 0;
}
/* table{
    background-color: white;
    text-align: center;
} */

.topheader {
    /* add a large top header with the title */
    overflow: hidden;
    font-size: large;
    color: black;
    text-align: center;
}



table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    border: none;
    background-color: white;
  }
  
  th, td {
    width: 10%; /* Set a fixed percentage for the cell width */
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /* Ellipsis to hide or truncate text */
    border: 1px solid #ddd; /* Optional: Add borders to cells */
    color:transparent;
    background-color: rgb(193, 132, 108);
  }
  td:empty{
    background-color: white;
  }
  /* td[value=" "]{
    background-color: white;
  } */

.bigtext{
    color: black;
    text-align: center;
}

.searchbar{
    align-items: baseline;
}

.highlight{
  background-color: yellow;
}
.lamp{
  border: none;
  background-color: black;
}
.extraspace{
  background-color: white;
  border: none;
}



#footer{
  position: absolute; 
  text-align: center;
  vertical-align: center;
  /* bottom: 0; */
  width:100%;
  /* margin: 1; */
  padding:1;
  height: 5rem;   
  background-color: lightgray;         
}